footer {
	background: var(--bg-clr);
	color: var(--white);
	width: 100%;
	/* margin-top: 3rem; */
	padding: 0.75rem 3rem;
}

footer .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	font-size: 1.3rem;
}

.footer-twitter {
	font-size: 1.15rem;
}

footer a {
	text-decoration: underline;
}

footer ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem 3rem;
}

.circle {
	width: 0.5rem;
	height: 0.5rem;
	background: #eee;
	border-radius: 50%;
}

@media screen and (max-width: 640px) {
	footer .container {
		text-align: center;
		padding: 0.5rem 0.8rem;
		justify-content: center;
	}
}
