/**************************
      home section
 *****************************/
.home {
	background: linear-gradient(transparent, black),
		url('https://www.teahub.io/photos/full/220-2207320_wonder-woman-background-hd.png')
			no-repeat center/cover;
	/* background-blend-mode: color-dodge; */
	height: 50vh;
	color: #fff;
	padding: 0 3rem;
}

.home .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 2.5rem;
}

.home-text {
	text-align: center;
}

.home h2 {
	font-size: 4rem;
	font-weight: 900;
}

/**************************
        main section
 *****************************/
.hero-movie {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%),
		url('https://cdn.wallpapersafari.com/20/36/D6KGrV.jpg') no-repeat
			top/cover;
	background-blend-mode: multiply;
	position: relative;
	z-index: 1;
	color: #fff;
}

/* .hero-movie::after {
	position: absolute;
	content: '';
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bg-clr);
	opacity: 0.2;
	z-index: -1;
} */

/* movie list seciton */
.section {
	padding: 3rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.section .container {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title {
	font-size: 2rem;
	font-weight: 900;
}

.overall-title {
	font-size: clamp(1.3rem, 3vw, 2.5rem);
	margin-top: 3rem;
	padding: 0.3rem 3rem;
	text-transform: uppercase;
	background: var(--text-clr);
	width: max-content;
	color: #fff;
	letter-spacing: 1px;
}

.section .form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
/* select form */
select {
	/* A reset of styles, including removing the default dropdown arrow */
	appearance: none;
	/* Additional resets for further consistency */
	background-color: transparent;
	outline: 0;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}

.select {
	width: 100%;
	min-width: 25ch;
	max-width: 20ch;
	border-bottom: 1.5px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.4rem 0.5rem;
	/* font-size: rem; */
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
	background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
	display: grid;
	grid-template-areas: 'select';
	align-items: center;
}

.select::after {
	content: '';
	width: 0.8em;
	height: 0.5em;
	background-color: var(--select-arrow);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	justify-self: end;
}

select,
.select::after {
	grid-area: select;
}

.input-field {
	position: relative;
}

.input-field svg {
	position: absolute;
	left: 1rem;
	top: 1rem;
	color: #bbb9b9;
	width: 25px;
}

.input-field label {
	display: none;
}

/* search field */
input[type='search'] {
	background: #fff;
	color: var(--text-clr);
	padding: 1rem 2rem;
	padding-left: 4.3rem;
	font-size: 1.4rem;
	width: 350px;
	border-radius: var(--border-radius);
	font-family: inherit;
	box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.02), 0 0px 5.3px rgba(0, 0, 0, 0.028),
		0 0px 10px rgba(0, 0, 0, 0.035), 0 0px 17.9px rgba(0, 0, 0, 0.042),
		0 0px 33.4px rgba(0, 0, 0, 0.05), 0 0px 80px rgba(0, 0, 0, 0.07);
}

/* movies list */
.movies {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 5rem 3rem;
	margin-top: 3rem;
}

.movies article {
	color: #fff;
	position: relative;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.movie-info {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: linear-gradient(transparent, #000);
	padding: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	transform: translateY(250px);
	transition: transform 350ms ease-in-out;
}

.movies article:hover .movie-info {
	transform: translateY(0);
}

.movie-info h3 {
	text-transform: lowercase;
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 2.25rem;
}

.movie-other-info {
	display: flex;
	align-items: center;
	gap: 3rem;
	justify-content: space-between;
	font-size: 1.375rem;
}

.movie-type {
	text-transform: lowercase;
}

.movie-rating span {
	font-weight: 900;
	font-size: 1.8rem;
}

.load-more-btn {
	background: #000;
	padding: 1rem 2rem;
	color: #fff;
	margin-top: 2rem;
}

.load-more-btn:hover {
	opacity: 0.8;
}

.load-more-btn:active {
	transform: scale(0.98);
}

/* .load-more-btn:focus {
	outline: 2px solid #000;
	outline-offset: 2px;
} */

.movies img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* responsiveness */
@media screen and (max-width: 640px) {
	.section .form {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.select-field {
		order: 2;
		margin-top: 3rem;
	}

	.input-field {
		margin: 0 auto;
		order: 1;
	}

	input[type='search'] {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	input[type='search'] {
		background: #fff;
		padding: 1rem 2rem;
		padding-left: 4.3rem;
		font-size: 1.4rem;
		border-radius: 9999px;
		font-family: inherit;
		box-shadow: 0 0px 2.2px rgba(0, 0, 0, 0.02),
			0 0px 5.3px rgba(0, 0, 0, 0.028), 0 0px 10px rgba(0, 0, 0, 0.035),
			0 0px 17.9px rgba(0, 0, 0, 0.042), 0 0px 33.4px rgba(0, 0, 0, 0.05),
			0 0px 80px rgba(0, 0, 0, 0.07);
	}
}
