/* movie hero */
.movie-hero {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%),
		url('https://cdn.wallpapersafari.com/20/36/D6KGrV.jpg') no-repeat
			top/cover;
	background-blend-mode: multiply;
	color: var(--white);
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info h2 {
	font-weight: 700;
	font-size: 2.5rem;
}

.titular-info .container {
	display: grid;
	grid-template-columns: 1fr 2fr 1.5fr;

	gap: 3rem;
	margin-top: -10rem;
	background: var(--white);
	width: 95vw;
	border-radius: var(--border-radius);
	overflow: hidden;
}

.titular-info img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.titular-info a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: opacity 300ms ease-in-out;
}

.titular-info a:hover {
	opacity: 0.8;
}

.link-icon {
	font-size: 1.6rem;
	opacity: 0;
	transition: opacity 275ms ease;
}

.titular-info a:hover .link-icon {
	opacity: 1;
}

/* video section (trailer) */
.video {
	background: #000;
}

.video iframe {
	width: 100%;
	height: 100%;
}

.details {
	padding: 1rem 0;
}

.detail {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.detail h2 {
	font-size: clamp(3rem, 2vw, 4rem);
	font-weight: 900;
}

.add-btn {
	background: var(--bg-clr);
	padding: 0.5rem 1rem;
	color: var(--white);
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: var(--border-radius);
	margin-top: 1rem;
}

.add-btn:disabled {
	background: #eee;
	color: #b6b4b4;
	cursor: no-drop;
}

.add-btn:disabled:active {
	transform: scale(1);
}

.add-btn:active {
	transform: scale(0.98);
}

.rating {
	font-size: 3rem;
	font-weight: 800;
}

.rating span {
	font-size: 2rem;
	color: gray;
}

.tag {
	display: flex;
	align-items: center;
	gap: 3rem;
	padding-top: 0.5rem;
}

.story,
.crew {
	padding-top: 2rem;
}

.tagline {
	font-style: italic;
}

.storyline {
	padding-top: 1rem;
}

.crew p:last-child {
	padding-top: 0.5rem;
}

.status {
	background: var(--bg-clr)
		url('https://cdn.wallpapersafari.com/20/36/D6KGrV.jpg') no-repeat
		center/cover;
	background-blend-mode: saturation;
	width: 100%;
	margin-top: 5rem;
	font-size: 1.4rem;
	position: relative;
	z-index: 1;
}

.status::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bg-clr);
	opacity: 0.5;
	z-index: -1;
}

.status .container {
	color: var(--white);
	padding: 3rem;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.status p:first-child {
	text-transform: uppercase;
}

.status a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.status a:hover {
	text-decoration: underline;
}

.casts {
	align-self: flex-start;
	padding: 3rem;
	margin-top: 5rem;
	width: 100%;
	background: #f5f5f5;
}

.cast {
	padding-top: 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 3rem;
}

.cast article {
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0.8px 1.9px rgba(0, 0, 0, 0.015),
		0 1.9px 4.3px rgba(0, 0, 0, 0.022), 0 3.4px 7.7px rgba(0, 0, 0, 0.028),
		0 5.6px 12.8px rgba(0, 0, 0, 0.032), 0 9.3px 21.2px rgba(0, 0, 0, 0.038),
		0 16.2px 37px rgba(0, 0, 0, 0.045), 0 35px 80px rgba(0, 0, 0, 0.06);
}

.cast img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.cast div {
	padding: 1rem 1.5rem;
}

.cast div p:first-child {
	font-weight: 700;
	line-height: 1.2;
	font-size: 2rem;
}

.cast div p:last-child {
	font-style: italic;
	font-size: 1.4rem;
}

/* seasons */
.tvshow-seasons {
	align-self: flex-start;
	margin-top: 5rem;
	padding: 0 3rem;
	width: 100%;
}

.seasons {
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	padding-top: 3rem;
}

.seasons img {
	width: 140px;
	height: 100%;
	object-fit: cover;
}

.seasons article {
	background: #f8f8f8;
	display: flex;
	gap: 2rem;
	border: 1px solid #eee;
	border-radius: var(--border-radius);
	flex: 1 1 400px;
	overflow: hidden;
}

.season-text {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	padding-left: 0;
}

.season-text p {
	font-size: 1.2rem;
}

.seasons .heading {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.5rem;
}

.seasons h3 {
	font-size: 2rem;
}

.seasons h4 {
	font-size: 1.4rem;
}

/* recommended movies */
.recommended-movie {
	align-self: flex-start;
	margin: 5rem 0;
	padding: 0 3rem;
	width: 100%;
}

/* responsiveness */
@media screen and (max-width: 1030px) {
	.titular-info .container {
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr 1fr;
		gap: 0;
	}

	.details {
		padding: 0 3rem;
	}

	.video {
		grid-column: 1 / -1;
		margin-top: 0.5rem;
	}
}

@media screen and (max-width: 680px) {
	/* .movie-hero {
		height: 50vh;
	} */
	.info h2 {
		text-align: center;
	}

	.details {
		padding: 0;
	}

	.titular-info .container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		background: transparent;
		place-items: center;
		gap: 4rem;
	}

	h2 a span {
		flex: 1;
	}

	.link-icon {
		display: none;
	}

	.tag {
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
	}

	.titular-info img {
		width: 300px;
	}

	.video {
		width: 100%;
		height: 300px;
	}

	.status .container {
		padding: 3rem 1rem;
		text-align: center;
	}

	.tvshow-seasons {
		padding: 3rem 1rem;
	}

	.seasons .heading {
		gap: 0.5rem;
	}

	.casts,
	.recommended-movie {
		padding: 3rem 1rem;
		padding: 3rem 1rem;
	}

	.casts {
		padding: 3rem 3rem 5rem 3rem;
	}

	.similar {
		margin-top: 0;
	}
}

@media screen and (max-width: 480px) {
	.details {
		text-align: center;
	}
	.detail {
		flex-direction: column;
		/* text-align: center; */
	}

	.rating {
		padding-top: 2rem;
	}

	.add-btn {
		margin: 0 auto;
		margin-top: 2rem;
	}
}
